html{background-size: cover; margin-left: 800px; margin-right: 800px;display: flex;}
body{background-color: #ffffff;}
h1{text-align: center; font-size: 36px; margin-bottom: 40px; margin-top: 40px; text-shadow: 1px 1px 1px gray; }
div{font-family: 'Noto Sans KR'; }
.contents{font-size: 19px; color: rgba(22, 52, 54, 0.486);}
span{font-size: 19px; color:#242424;}
.img{width: 300px; height: 200px;}
.end{margin-top: 80px; text-align: center; font-family: 'Noto Sans KR'; font-size: 30px; text-shadow: 1px 1px 1px gray; }